*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Almarai', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-color: rgb(42, 94, 232);
    color: white;
}

header, main, footer{
    width: 100%;
}


.clearfix, .presentazione, .container{
    margin: auto;
}

.clearfix, .container{
    width: 70%;
}


/* header */

.logo_h, nav, .badge_top{
    height: 68px;
    line-height: 68px;
    vertical-align: center;
    font-size: small;
}

.logo_h{
    float: left;
    width: 13%;
    text-align: left;
}

nav{
    float: left;
    width: 74%;
    text-align: center;
}

a{
    text-decoration: none;
}

nav > a{
    color: white;
    margin: 0 19px;
}

.badge_top{
    float: left;
    width: 13%;
    text-align: right;
}

.badge_top a{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}



.sfondo_header{
    background-image: url(./img/jumbo.png);
    background-size: 100%;
    background-position: top;

}

.presentazione{
    width: 50%;
    text-align: center;
    padding: 80px 60px 120px;
}

.presentazione > span{
    display: inline-block;
    margin: 20px 5px;
    padding: 10px 25px;
    border-radius: 25px;
}

.download{
    background-color: white;
}

.download a{
    color: black;
}

.open{
    background-color: black;
}

.open a{
    color: white;
}

h1{
    margin-bottom: 38px;
    font-size: 3.3rem;
}

p{
    line-height: 26px;
}

/* /header */


/* main */

.section_main .clearfix{
    padding: 100px 0;
}
.colonna_img{
    float: left;
    width: 66%;
}
img{
    width: 90%;
}
.colonna_text{
    float: left;
    width: 34%;
    padding: 28px 15px;
}

.colonna_text h2{
    font-size: 2.8rem;
    margin-bottom: 25px;
}

.spot{
    float: left;
    width: 33%;
}

.link{
    float: left;
    width: 16.75%;
}

.logo_f{
    float: left;
    width: 50%;
}

.badge{
    float: left;
    width: 50%;
}


/* /main */



/* debug */



/* .debug .section_main{
    width: 100%;
    height: 500px;
    background-color: wheat;
}
 */
/* .debug main .clearfix{
    width: 70%;
    height: 400px;
    margin: auto;
} */

/* .debug .colonna_img{
    height: 100%;
    background-color: chartreuse;
}

.debug .colonna_text{
    height: 100%;
    background-color: coral;
}
 */
.debug .container{
    width: 70%;
    height: 500px;
    margin: auto;
}

.debug .bottom_top{
    height: 100px;
    background-color: lime;
}

.debug .bottom_middle{
    height: 300px;
    background-color: limegreen;
}

.debug .bottom_bottom{
    height: 100px;
    background-color: yellowgreen;
}

/* /debug_main */

.debug .spot{
    height: 300px;
    background-color: teal;
}

.debug .link{
    height: 300px;
}

.debug .prodotto{
    background-color: thistle;
}
.debug .compagnia{
    background-color: tomato;
}
.debug .risorse{
    background-color: turquoise;
}
.debug .norme{
    background-color: tan;
}

.debug .logo_f{
    background-color: firebrick;
    height: 50px;
}

.debug .badge_f{
    background-color: forestgreen;
    height: 50px;
}
