*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Almarai', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-color: rgb(42, 94, 232);
    color: white;
}

header, main, footer{
    width: 100%;
}


.clearfix, .presentazione, .container{
    margin: auto;
}

.clearfix, .container{
    width: 70%;
}


/* header */

.logo_h, nav, .badge_top{
    height: 68px;
    line-height: 68px;
    vertical-align: center;
    font-size: small;
}

.logo_h{
    float: left;
    width: 13%;
    text-align: left;
}

nav{
    float: left;
    width: 74%;
    text-align: center;
}

a{
    text-decoration: none;
}

nav > a{
    color: white;
    margin: 0 19px;
}

.badge_top{
    float: left;
    width: 13%;
    text-align: right;
}

.badge_top a{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}



.sfondo_header{
    background-image: url(./img/jumbo.png);
    background-size: 100%;
    background-position: top;

}

.presentazione{
    width: 50%;
    text-align: center;
    padding: 80px 60px 120px;
}

.presentazione > span{
    display: inline-block;
    margin: 20px 5px;
    padding: 10px 25px;
    border-radius: 25px;
}

.download{
    background-color: white;
}

.download a{
    color: black;
}

.open{
    background-color: black;
}

.open a{
    color: white;
}

h1{
    margin-bottom: 38px;
    font-size: 3.3rem;
}

p{
    line-height: 26px;
}

/* /header */


/* main */

.section_main .clearfix{
    padding: 100px 0;
}
.colonna_img{
    float: left;
    width: 66%;
}
colonna_img img{
    width: 90%;
}
.colonna_text{
    float: left;
    width: 34%;
    padding: 28px 15px;
}

h2{
    font-size: 2.8rem;
    margin-bottom: 25px;
}

.voice img{
    margin-left: 70px;
}

.container{
    text-align: center;
}

.container section{
    padding: 70px;
}

.container img{
    width: 1050px;
}

.container h3{
    width: 70%;
    margin: 0 auto 50px;
    padding: 30px;
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 2rem;
}
.login a{
    padding: 15px;
    background-color: rgb(142, 161, 225);
    color: white;
    border-radius: 28px;
}

/* /main */


/* footer */

footer{
    background-color: black;
}

.section_indice .clearfix{
    padding: 100px 0 30px;
    border-bottom: 1px solid rgb(71, 85, 124);
}

.spot{
    float: left;
    width: 33%;
}

h3{
    color: rgb(114, 137, 218);
    font-size: 2rem;
    margin-bottom: 30px;
}

.countrie{
    margin: 25px 0;
    height: 20px;
}

.flag{
    width: 20px;
}

select{
    color: white;
    background-color: black;
    border: none;
}

i{
    margin-right: 25px;
    color: white;
}

.link{
    float: left;
    width: 16.75%;
}

dl{
    line-height: 30px;
}
dt{
    color: rgb(114, 137, 218);
    font-weight: bold;
}

dd > a{
    color: white;
}

.logo_f{
    float: left;
    width: 50%;
}



.badge{
    float: left;
    width: 50%;
}

/* /footer */

